/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo del encabezado */
h1 {
    text-align: center;
    background-color: #03ce47;
    color: #fff;
    padding: 20px;
    margin: 0;
}

/* Contenedor de botones y carga de archivo */
.container {
    text-align: center;
    margin: 20px auto;
}

.container label, .container button {
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #02dd02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00b53c;
}

/* Estilo de la sección de filtro */
.filtro {
    text-align: center;
    margin: 20px auto;
}

.filtro input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtro button {
    margin-left: 10px;
}

/* Estilo de la tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #019b34;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e1f5fe;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    background-color: #02852d;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

